body, html {
  height: 100%;
  width: 100%;
  background: url("../img/tk.jpg") no-repeat;
  background-size: auto 100%;
}

.main {
  padding: 1em 5em 1em 5em;
  .answers {
    padding-left: 3em;
    padding-right: 3em;
    h3 {
      padding-top: 1em;
      padding-bottom: 1em;
      font-weight: bold;
    }
    .frage {
      padding: 2em 2em 2em 2em;
    }
  }
}

.headline {
  color: green;
  font-weight: bold;
}

.nameInput {
  width: 250px;
}

.btn {
  margin-top: 1em;
  margin-left: 1em;
}

.tkslider {
  margin-top: 0;
  margin-bottom: 2em;
  max-width: 750px;
}

.tktable {
  margin-top: 3em;
  max-width: 750px;
}

.logooffset {
  width: 100px;
}

.logo {
  width: 125px;
  padding-left: 20px;
  padding-right: 20px;
}

.tkrow1 {
  border-top: solid #b8b8b8 thin;
}

.tkrow2 {

}

.leftCat {
  padding-top: 2em;
  h4 {
    font-weight: bold;
  }
}
.rightCat {
  padding-top: 2em;
  h4 {
    font-weight: bold;
  }
}

.results {
  padding-top: 2em;
  padding-bottom: 1em;
  h4 {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .result {
    display: block;
    padding: 1em;
  }
}

.personalResult {
  max-width: 600px;
}

.resHeadline {
  margin-top: 2em;
}

.user {
  margin-top: 2em;
  padding-left: 3em;
}

.tkTable {
 max-width: 500px;
  td, th {
    text-align: center;
  }
}

.resImg {
  width: 100%;
  overflow: hidden;
}

.thx {
  padding-top: 3em;
}

.erneutTeilnehmen {
  margin-top: 10em;
}
