<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TK-Tool</title>

    <!-- CSS imports -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="css/app.css">

    <!-- Libs -->
    <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
    <script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js" type="text/javascript"></script>
    <script src="bower_components/angular-bootstrap-slider/slider.js" type="text/javascript"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="bower_components/mathjs/dist/math.min.js" type="text/javascript"></script>
    <script src="bower_components/chart/dist/Chart.js" type="text/javascript"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.min.js" type="text/javascript"></script>
    <!-- JS -->
    <script src="js/technikKontrovers.js" type="text/javascript"></script>
</head>

<body>
<div ng-app="technikKontrovers">
    <div ng-controller="technikKontroversCtrl" class="main">
        <h2 class="headline">technik.kontrovers Umfrage-Tool</h2>

        <!-- 1: Umfrage -->
        <div class="answers" ng-if="state=='survey'">
            <h3>Augen auf beim Kaffee-Kauf - was ist Ihnen wichtig?</h3>
            <label for="name">Name: </label>
            <input id="name" class="form-control nameInput" ng-model="choices.name" type="text">

            <table class="tktable">
                <tr class="tkrow1">
                    <td class="leftCat"><h4>Soziale Gerechtigkeit</h4></td>
                    <td align="right" class="rightCat"><h4>Umweltauswirkungen</h4></td>
                </tr>
                <tr class="tkrow2">
                    <td colspan="2">
                        <div class="frage">
                            <slider class="tkslider"
                                    ng-model="choices.choice01"
                                    min="slider.min"
                                    step="slider.step"
                                    max="slider.max"
                                    value="slider.value"
                                    ticks="slider.ticks"
                                    selection="none"
                                    ticks_labels="slider.ticksLabels">
                            </slider>
                        </div>
                    </td>
                </tr>
                <tr class="tkrow1">
                    <td class="leftCat"><h4>Soziale Gerechtigkeit</h4></td>
                    <td align="right" class="rightCat"><h4>Preis</h4></td>
                </tr>
                <tr class="tkrow2">
                    <td colspan="2">
                        <div class="frage">
                            <slider class="tkslider"
                                    ng-model="choices.choice02"
                                    min="slider.min"
                                    step="slider.step"
                                    max="slider.max"
                                    value="slider.value"
                                    ticks="slider.ticks"
                                    selection="none"
                                    ticks_labels="slider.ticksLabels">
                            </slider>
                        </div>
                    </td>
                </tr>
                <tr class="tkrow1">
                    <td class="leftCat"><h4>Soziale Gerechtigkeit</h4></td>
                    <td align="right" class="rightCat"><h4>Geschmack</h4></td>
                </tr>
                <tr class="tkrow2">
                    <td colspan="2">
                        <div class="frage">
                            <slider class="tkslider"
                                    ng-model="choices.choice03"
                                    min="slider.min"
                                    step="slider.step"
                                    max="slider.max"
                                    value="slider.value"
                                    ticks="slider.ticks"
                                    selection="none"
                                    ticks_labels="slider.ticksLabels">
                            </slider>
                        </div>
                    </td>
                </tr>
                <tr class="tkrow1">
                    <td class="leftCat"><h4>Umweltauswirkungen</h4></td>
                    <td align="right" class="rightCat"><h4>Preis</h4></td>
                </tr>
                <tr class="tkrow2">
                    <td colspan="2">
                        <div class="frage">
                            <slider class="tkslider"
                                    ng-model="choices.choice12"
                                    min="slider.min"
                                    step="slider.step"
                                    max="slider.max"
                                    value="slider.value"
                                    ticks="slider.ticks"
                                    selection="none"
                                    ticks_labels="slider.ticksLabels">
                            </slider>
                        </div>
                    </td>
                </tr>
                <tr class="tkrow1">
                    <td class="leftCat"><h4>Preis</h4></td>
                    <td align="right" class="rightCat"><h4>Geschmack</h4></td>
                </tr>
                <tr class="tkrow2">
                    <td colspan="2">
                        <div class="frage">
                            <slider class="tkslider"
                                    ng-model="choices.choice13"
                                    min="slider.min"
                                    step="slider.step"
                                    max="slider.max"
                                    value="slider.value"
                                    ticks="slider.ticks"
                                    selection="none"
                                    ticks_labels="slider.ticksLabels">
                            </slider>
                        </div>
                    </td>
                </tr>
                <tr class="tkrow1">
                    <td class="leftCat"><h4>Umweltauswirkungen</h4></td>
                    <td align="right" class="rightCat"><h4>Geschmack</h4></td>
                </tr>
                <tr class="tkrow2">
                    <td colspan="2">
                        <div class="frage">
                            <slider class="tkslider"
                                    ng-model="choices.choice23"
                                    min="slider.min"
                                    step="slider.step"
                                    max="slider.max"
                                    value="slider.value"
                                    ticks="slider.ticks"
                                    selection="none"
                                    ticks_labels="slider.ticksLabels">
                            </slider>
                        </div>
                    </td>
                </tr>
            </table>

            <button class="btn btn-success" ng-click="submitAnswer(choices)">Antwort abgeben</button>
            <button class="btn btn-success" ng-click="showResults()">Direkt zum Ergebnis aller Teilnehmer</button>
        </div>

        <!-- 2: Stimme eingetragen -->
        <div ng-if="state=='voted'">
            <h4>Vielen Dank für Ihre Stimme, {{choices.name}}!</h4></br>
        </div>

        <!-- 3: Gesamtergebnisse -->
        <div ng-if="state =='results'">
            <h4 class="resHeadline">Durchschnittliches Ergebnis ({{count}} Teilnehmer):</h4></br>
        </div>

        <!-- 4: Persönliches Ergebnis (Name eintragen) -->
        <div class="answers" ng-if="state=='resultquery'">
            <h3>Abfrage Ihres persönlichen Ergebnisses:</h3>
            <label for="name">Name: </label>
            <form ng-submit="personalResult(resultQuery)">
                <input id="resultname" class="form-control nameInput" ng-model="resultQuery.name" type="text"/>
                <button class="btn btn-success" type="submit">Ergebnis anzeigen</button>
            </form>
        </div>

        <!-- 5: Persönliches Ergebnis -->
        <div ng-if="state =='personalresult'">
            <h4 class="resHeadline">Ihr persönliches Ergebnis, {{resultQuery.name}}:</h4></br>
        </div>

        <!-- 6: Admin -->
        <div ng-if="state =='admin'">
            <button class="btn btn-success" ng-click="emptyDB()">Datenbank leeren</button>
        </div>

        <!-- Ergebnis (Gesamt oder persönlich) -->
        <div ng-if="state =='results' || state == 'personalresult'">
            <div class="personalResult">
                <canvas id="bar" class="chart chart-bar"
                        chart-data="data" chart-labels="labels" chart-series="series">
                </canvas>
            </div>

            <div class="personalResult">
                <h4 class="resHeadline">Übereinstimmung von Vorlieben und den Produkten:</h4></br>
                <canvas id="bar" class="chart chart-bar"
                        chart-data="data_product" chart-labels="labels_product" chart-series="series_product"
                </canvas>

            </div>
            <table>
              <tr>
                <td class="logooffset"></td>
                <td><img class="logo" src="img/logos/premium.png"></img></td>
                <td><img class="logo" src="img/logos/bio.png"></img></td>
                <td><img class="logo" src="img/logos/fair.png"></img></td>
                <td><img class="logo" src="img/logos/discount.png"></img></td>
              </tr>
            </table>
        </div>

        <!-- 5: Persönliches Ergebnis -->
        <div ng-if="state =='personalresult'">
            <h4 class="resHeadline">Durchschnittliches Ergebnis aller Teilnehmer anzeigen:</h4></br>
            <button class="btn btn-success" ng-click="showResults()">Ergebnis aller Teilnehmer</button>
        </div>
    </div>
</div>
</body>
