<div ng-controller="technikKontroversCtrl" class="main">
    <h2 class="headline">technik.kontrovers Umfrage-Tool</h2>

    <!-- 1: Umfrage -->
    <div class="answers" ng-if="state=='survey'">
        <h3>Augen auf beim Kaffee-Kauf - was ist Ihnen wichtig?</h3>
        <label for="name">Name: </label>
        <input id="name" class="form-control nameInput" ng-model="choices.name" type="text">

        <table class="tktable">
            <tr class="tkrow1">
                <td class="leftCat"><h4>Soziale Gerechtigkeit</h4></td>
                <td align="right" class="rightCat"><h4>Umweltauswirkungen</h4></td>
            </tr>
            <tr class="tkrow2">
                <td colspan="2">
                    <div class="frage">
                        <slider class="tkslider"
                                ng-model="choices.choice01"
                                min="slider.min"
                                step="slider.step"
                                max="slider.max"
                                value="slider.value"
                                ticks="slider.ticks"
                                selection="none"
                                ticks_labels="slider.ticksLabels">
                        </slider>
                    </div>
                </td>
            </tr>
            <tr class="tkrow1">
                <td class="leftCat"><h4>Soziale Gerechtigkeit</h4></td>
                <td align="right" class="rightCat"><h4>Preis</h4></td>
            </tr>
            <tr class="tkrow2">
                <td colspan="2">
                    <div class="frage">
                        <slider class="tkslider"
                                ng-model="choices.choice02"
                                min="slider.min"
                                step="slider.step"
                                max="slider.max"
                                value="slider.value"
                                ticks="slider.ticks"
                                selection="none"
                                ticks_labels="slider.ticksLabels">
                        </slider>
                    </div>
                </td>
            </tr>
            <tr class="tkrow1">
                <td class="leftCat"><h4>Soziale Gerechtigkeit</h4></td>
                <td align="right" class="rightCat"><h4>Geschmack</h4></td>
            </tr>
            <tr class="tkrow2">
                <td colspan="2">
                    <div class="frage">
                        <slider class="tkslider"
                                ng-model="choices.choice03"
                                min="slider.min"
                                step="slider.step"
                                max="slider.max"
                                value="slider.value"
                                ticks="slider.ticks"
                                selection="none"
                                ticks_labels="slider.ticksLabels">
                        </slider>
                    </div>
                </td>
            </tr>
            <tr class="tkrow1">
                <td class="leftCat"><h4>Umweltauswirkungen</h4></td>
                <td align="right" class="rightCat"><h4>Preis</h4></td>
            </tr>
            <tr class="tkrow2">
                <td colspan="2">
                    <div class="frage">
                        <slider class="tkslider"
                                ng-model="choices.choice12"
                                min="slider.min"
                                step="slider.step"
                                max="slider.max"
                                value="slider.value"
                                ticks="slider.ticks"
                                selection="none"
                                ticks_labels="slider.ticksLabels">
                        </slider>
                    </div>
                </td>
            </tr>
            <tr class="tkrow1">
                <td class="leftCat"><h4>Preis</h4></td>
                <td align="right" class="rightCat"><h4>Geschmack</h4></td>
            </tr>
            <tr class="tkrow2">
                <td colspan="2">
                    <div class="frage">
                        <slider class="tkslider"
                                ng-model="choices.choice13"
                                min="slider.min"
                                step="slider.step"
                                max="slider.max"
                                value="slider.value"
                                ticks="slider.ticks"
                                selection="none"
                                ticks_labels="slider.ticksLabels">
                        </slider>
                    </div>
                </td>
            </tr>
            <tr class="tkrow1">
                <td class="leftCat"><h4>Umweltauswirkungen</h4></td>
                <td align="right" class="rightCat"><h4>Geschmack</h4></td>
            </tr>
            <tr class="tkrow2">
                <td colspan="2">
                    <div class="frage">
                        <slider class="tkslider"
                                ng-model="choices.choice23"
                                min="slider.min"
                                step="slider.step"
                                max="slider.max"
                                value="slider.value"
                                ticks="slider.ticks"
                                selection="none"
                                ticks_labels="slider.ticksLabels">
                        </slider>
                    </div>
                </td>
            </tr>
        </table>

        <button class="btn btn-success" ng-click="submitAnswer(choices)">Antwort abgeben</button>
    </div>

    <!-- 2: Stimme eingetragen -->
    <div ng-if="state=='voted'">
        <h4>Vielen Dank für Ihre Stimme, {{choices.name}}!</h4></br>
    </div>

    <!-- 3: Gesamtergebnisse -->
    <div ng-if="state =='results'">
        <h4 class="resHeadline">Durchschnittliches Ergebnis ({{count}} Teilnehmer):</h4></br>
    </div>

    <!-- 4: Persönliches Ergebnis (Name eintragen) -->
    <div class="answers" ng-if="state=='resultquery'">
        <h3>Abfrage Ihres persönlichen Ergebnisses:</h3>
        <label for="name">Name: </label>
        <form ng-submit="personalResult(resultQuery)">
            <input id="resultname" class="form-control nameInput" ng-model="resultQuery.name" type="text"/>
            <button class="btn btn-success" type="submit">Ergebnis anzeigen</button>
        </form>
    </div>

    <!-- 5: Persönliches Ergebnis -->
    <div ng-if="state =='personalresult'">
        <h4 class="resHeadline">Ihr persönliches Ergebnis, {{resultQuery.name}}:</h4></br>
        <h4 class="resHeadline">Durchschnittliches Ergebnis (alle Teilnehmer) anzeigen:</h4></br>
        <button class="btn btn-success" ng-click="showResults()">Ergebnis aller Teilnehmer</button>
    </div>

    <!-- 6: Admin -->
    <div ng-if="state =='admin'">
        <button class="btn btn-success" ng-click="emptyDB()">Datenbank leeren</button>
    </div>

    <!-- Ergebnis (Gesamt oder persönlich) -->
    <div ng-if="state =='results' || state == 'personalresult'">
        <div class="personalResult">
            <canvas id="bar" class="chart chart-bar"
                    chart-data="data" chart-labels="labels" chart-series="series">
            </canvas>
        </div>

        <div class="personalResult">
            <h4 class="resHeadline">Übereinstimmung von Vorlieben und den Produkten:</h4></br>
            <canvas id="bar" class="chart chart-bar"
                    chart-data="data_product" chart-labels="labels_product" chart-series="series_product"
            </canvas>
        </div>
    </div>

    <!-- 5: Persönliches Ergebnis -->
    <div ng-if="state =='personalresult'">
        <h4 class="resHeadline">Durchschnittliches Ergebnis (alle Teilnehmer) anzeigen:</h4></br>
        <button class="btn btn-success" ng-click="showResults()">Ergebnis aller Teilnehmer</button>
    </div>
</div>
