<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Name ungültig!</h3>
</div>
<div class="modal-body" id="modal-body">
    <h3>{{info}}</h3>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$dismiss()">OK</button>
</div>