<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Ihr persönlicher Score!</h3>
</div>
<div class="modal-body" id="modal-body">

    <h3>Persönlicher Score für {{score.name}}: {{ score.sum }} von {{maxScore}}</h3>
    <img class="resImg" src="{{score.img}}">
    <h4>Ihr Nachhaltigkeitsprofil: {{score.caption}}</h4>

    <div>
        <img ng-src="">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$dismiss()">OK</button>
</div>